<div class="dashboard-container p-p-3">
  <h2 class="title">TAT Report</h2>
  <p class="subtitle">Last Updated On 1st January 2025</p>

  <div class="control-panel p-d-flex p-jc-between p-ai-center p-mb-3">
    <p-dropdown
      [options]="labels"
      [(ngModel)]="selectedLabel"
      placeholder="Upload TAT"
      (onChange)="updateData()"
      class="dropdown-custom"
    ></p-dropdown>
    <button pButton type="button" label="Export" class="export-btn"></button>
  </div>

  <div class="content-wrapper p-d-flex p-jc-between p-mb-4">
    <div class="chart-container">
      <p-chart
        type="doughnut"
        [data]="chartData"
        (onHover)="onSegmentHover($event)"
      ></p-chart>
    </div>
    <div class="table-container">
      <p-table [value]="tableData" class="custom-table">
        <ng-template pTemplate="header">
          <tr>
            <th>Ageing</th>
            <th>No. Of Invoices</th>
            <th>Total Invoice Amount</th>
            <th>Mix</th>
            <th>Indicator</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{ data.ageing }}</td>
            <td>{{ data.noOfInvoices }}</td>
            <td>{{ data.invoiceAmount }}</td>
            <td>{{ data.mix }}</td>
            <td>
              <span
                [style.backgroundColor]="data.indicator"
                class="indicator-circle"
              ></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <h4 class="grand-total">
        Grand Total: <span class="invoicetotal">{{ invoiceTotal }}</span>
        <Span class="grandtotal"> {{ grandTotal }}</Span>
      </h4>
    </div>
  </div>
</div>
